<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Smillan</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- css -->
        <link rel="stylesheet" href="./../js/lib/angular-material/angular-material.css"/>

        <!-- angular js libs -->
        <script type="text/javascript" src="./../js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-messages/angular-messages.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="./../js/lib/angular-ui-router/release/angular-ui-router.js"></script>

        <script type="text/javascript" src="./../js/lib/angulargrid/angulargrid.js"></script>

        <!-- js smilan app -->
        <link rel="stylesheet" href="./password.css"/>
        <script type="text/javascript" src="./password.js"></script>        


    </head>

    <body ng-app="SmilanApp" ng-cloak ng-strict-di="true">
    <md-toolbar layout="row">
        <h1 flex style="text-align: center">Smillan</h1>
    </md-toolbar>
    <md-content ng-controller="password.controller">
        <md-card ng-if="!vm.processed">
            <form name="userForm">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Reset Password Form </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <input type="hidden" ng-model="vm.otp" />
                    <input type="hidden" ng-model="vm.email" />

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" ng-model="vm.password1" required ng-minlength="6"/>
                        <div ng-messages="userForm.uname.$error" multiple role="alert">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="minlength">
                                Minimum length required is 6.
                            </div>
                        </div>
                    </md-input-container>                

                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="submit();" ng-disabled="(userForm.$invalid || userForm.$pristine)">Ok</md-button>

                </md-card-actions>
            </form>
        </md-card>
        <md-card ng-if="vm.processed">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{vm.processedResultMessage}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                
            </md-card-content>
        </md-card>
    </md-content>
</body>
</html>
