<div>    
    <div>
        <div ng-repeat="message in msgs" class="message-wrapper rlt">
            <div ng-if="message.received && !message.join">
                <img class="profile-picture left" src="img/exis.png" />
                <div class="chat-bubble left">
                    <div class="message"><b>{{message.username}}</b> {{message.msg}}</div>
                </div>
            </div>
            <div ng-if="!message.received && !message.join">
                <img class="profile-picture right" src="img/ionic.png"  />
                <div class="chat-bubble right">
                    <div class="message" ng-bind-html="message.msg">
                    </div>
                </div>
            </div>
            <div class="cf"></div>
        </div>
        <p>{{typingStr}}</p>
    </div>
    <div>
        <label class="item-input-wrapper">
            <input ng-change="updateTyping()" type="text"  placeholder="Send a message..." ng-enter="sendMsg(input.msg)" ng-model="input.msg" required minlength="1" maxlength="1500"> 
        </label>

        <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-android-send footer-btn"
                    ng-disabled="!input.msg || input.msg === ''" ng-click="sendMsg(input.msg)">
            </button>
        </div>
    </div>
</div>